/* All CSS for the navigation bar */
.navbar {
  background-color: teal;
  height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
* {
  margin: 0;
  padding: 0;
}

.navbar a {
  display: flex;
  margin: 2em;
  justify-content: space-around;
  color: whitesmoke;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  text-transform: uppercase;
}

.navbar a:link {
  text-decoration: none;
}
.navbar li:hover {
  background-color: rgb(85, 192, 192);
}
/* Header and Photo background */

.head{
    background-color: black;
    height: 19em;
    text-align: center;
    
}
.head h1{
    padding-top: 4em;
    letter-spacing: .35em;
    text-transform: uppercase;


}
.head h4{
    padding-top: 1.7em;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}
.head h1, .head h4{
    color: blanchedalmond;
    
    
}

/* Putting the large image here */

.background img{
   height:65%;
   width: 100%;
   }
